t1.1 NX=4 NY=4 N=2 P=1 IORATX=2 IORATY=2 ARCH=sdr FLIP=0 ORIGIN=10
t1.5 NX=4 NY=6 N=2 P=1 IORATX=2 IORATY=3 ARCH=sdr FLIP=0 ORIGIN=10
t15 NX=40 NY=60 N=2 P=1 IORATX=4 IORATY=6 ARCH=sdr FLIP=0 ORIGIN=10
t150 NX=400 NY=600 N=2 P=1 IORATX=10 IORATY=15 ARCH=sdr FLIP=0 ORIGIN=10

t1-N2origin NX=4 NY=4 N=2 P=1 IORAT=2 ARCH=sdr FLIP=0 ORIGIN=10
t1-N2flip   NX=4 NY=4 N=2 P=1 IORAT=2 ARCH=sdr FLIP=1 ORIGIN=0
t1-N8origin NX=4 NY=4 N=8 P=1 IORAT=2 ARCH=sdr FLIP=0 ORIGIN=10
t1-N8flip   NX=4 NY=4 N=8 P=1 IORAT=2 ARCH=sdr FLIP=1 ORIGIN=0

t720-N2origin NX=720 NY=720 N=2 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=10
t720-N2normal NX=720 NY=720 N=2 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=0
t720-N2flip   NX=720 NY=720 N=2 P=1 IORAT=12 ARCH=sdr FLIP=1 ORIGIN=0

t720-N4origin NX=720 NY=720 N=4 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=10
t720-N4normal NX=720 NY=720 N=4 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=0
t720-N4flip   NX=720 NY=720 N=4 P=1 IORAT=12 ARCH=sdr FLIP=1 ORIGIN=0

t720-N8origin NX=720 NY=720 N=8 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=10
t720-N8normal NX=720 NY=720 N=8 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=0
t720-N8flip   NX=720 NY=720 N=8 P=1 IORAT=12 ARCH=sdr FLIP=1 ORIGIN=0

t720-N16origin NX=720 NY=720 N=16 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=10
t720-N16normal NX=720 NY=720 N=16 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=0
t720-N16flip   NX=720 NY=720 N=16 P=1 IORAT=12 ARCH=sdr FLIP=1 ORIGIN=0

t720-N32origin NX=720 NY=720 N=32 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=10
t720-N32normal NX=720 NY=720 N=32 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=0
t720-N32flip   NX=720 NY=720 N=32 P=1 IORAT=12 ARCH=sdr FLIP=1 ORIGIN=0

t720-N64origin NX=720 NY=720 N=64 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=10
t720-N64normal NX=720 NY=720 N=64 P=1 IORAT=12 ARCH=sdr FLIP=0 ORIGIN=0
t720-N64flip   NX=720 NY=720 N=64 P=1 IORAT=12 ARCH=sdr FLIP=1 ORIGIN=0

tmax-N64origin NX=744 NY=1116 N=64 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=10
tmax-N64normal NX=744 NY=1116 N=64 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=0
tmax-N64flip NX=744 NY=1116 N=64 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=1 ORIGIN=0

tmax-N32origin NX=744 NY=1116 N=32 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=10
tmax-N32normal NX=744 NY=1116 N=32 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=0
tmax-N32flip NX=744 NY=1116 N=32 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=1 ORIGIN=0

tmax-N16origin NX=744 NY=1116 N=16 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=10
tmax-N16normal NX=744 NY=1116 N=16 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=0
tmax-N16flip NX=744 NY=1116 N=16 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=1 ORIGIN=0

tmax-N8origin NX=744 NY=1116 N=8 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=10
tmax-N8normal NX=744 NY=1116 N=8 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=0
tmax-N8flip NX=744 NY=1116 N=8 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=1 ORIGIN=0

tmax-N4origin NX=744 NY=1116 N=4 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=10
tmax-N4normal NX=744 NY=1116 N=4 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=0
tmax-N4flip NX=744 NY=1116 N=4 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=1 ORIGIN=0

tmax-N2origin NX=744 NY=1116 N=2 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=10
tmax-N2normal NX=744 NY=1116 N=2 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=0 ORIGIN=0
tmax-N2flip NX=744 NY=1116 N=2 P=1 IORATX=12 IORATY=18 ARCH=sdr FLIP=1 ORIGIN=0
